[2014-06-26 19:59] divad12 opened #1 "Add form validation to the submit page"
http://vimawesome.com/submit

Submitted plugins just get appended to a table for review. We launched in a hurry. :)

[2014-06-26 20:00] divad12 opened #2 "Syntax highlight code blocks in long descriptions"
By doing something like this: https://github.com/chjj/marked#highlight

[2014-06-26 20:01] divad12 opened #3 "Add JavaScript tests"

[2014-06-26 20:02] divad12 opened #4 "`/api/*` view handlers should return content type `application/json`"

[2014-06-26 20:03] divad12 opened #5 "Cache with Redis"
We use a stupid simple in-memory cache right now, and cache only a subset of URLs.

[2014-06-26 20:05] divad12 opened #6 "Add manual install link"
Link to latest vim.org download as another tab here:

![image](https://cloud.githubusercontent.com/assets/159687/3404081/258b80d8-fd6d-11e3-94c4-3cd59ab25e40.png)

[2014-06-26 20:05] divad12 opened #7 "RSS feed"
A feed of the newest plugins would be cool!

[2014-06-26 20:06] divad12 opened #8 "Split up the monolithic SCSS file and use @imports"

[2014-06-26 20:06] divad12 opened #9 "Format reStructuredText (.rst) README files too"
e.g.

http://vimawesome.com/plugin/vim-python-pep8-indent
https://github.com/hynek/vim-python-pep8-indent

[2014-06-26 20:06] divad12 opened #10 "Detect and warn if Vimium (the Chrome plugin) is active"
https://chrome.google.com/webstore/detail/vimium/dbepggeogbaibhgnhhndojpepiihcmeb?hl=en

[2014-06-26 20:07] divad12 opened #11 "Tags should have an active state if clicked"
If I click "ruby" here, the tag should have an active state:

![image](https://cloud.githubusercontent.com/assets/159687/3404111/7b0b06c8-fd6d-11e3-9f32-d2eb8fdf0614.png)

[2014-06-26 20:08] divad12 opened #12 "Make it responsive on small screens!"

[2014-06-26 20:08] divad12 opened #13 "Add UI to sort by newest"
Also sort by last updated?

Current sorting is by popularity (by # of users).

UI should clearly show sorting metric.

[2014-06-26 20:09] divad12 opened #14 "Make pressing back button to go back to search results work better"
Results and scroll position should be cached and feel like clicking "back" on a normal non-single-page-app website.

[2014-06-26 20:10] glts opened #15 "Consider one-liner alternative in pathogen.vim installation instructions"
`git clone` accepts an optional `<directory>` argument, which specifies the destination of the cloned repo.

Please consider as an alternative to [your](https://github.com/divad12/vim-awesome/blob/50037b9985a280e9a072d1b5508e62fd414a73a4/web/static/js/app.jsx#L514-L515)

[code]

the equally idiomatic, but more explicit and less intrusive (`$PWD`!)

[code]

Of course I'll understand if you reject t

[2014-06-26 20:13] divad12 opened #16 "Clicking on the top bar on a plugin page takes you to a non-existent page"
From [a comment on HN](https://news.ycombinator.com/item?id=7951373):

The header probably shouldn't even be a link.

[2014-06-26 21:59] tpope opened #18 "Versioning API"
This is a cool site. I'm wondering if it could be the missing piece that finally enables a real plugin manager (as opposed to the glorified runtime path manipulators and `git clone` wrappers we have today). The first step would be to scrape versions and downloads from vim.org and tags and archives from github and make them available via the API. Any interest in pursuing this?

I can certainly help

[2014-06-26 22:26] #16 closed, assigned to nobody

[2014-06-26 22:52] jdavis opened #19 "Add a software license"
Great site, guys.

I was curious about the license for the code but couldn't seem to find it. Could one of you guys add a LICENSE file with that info?

[2014-06-27 02:07] #19 closed, assigned to nobody

[2014-06-27 05:05] divad12 opened #20 "Re-assign plugin slugs"
Currently we have slugs that look like this:
1. [`fugitive-vim`](http://vimawesome.com/plugin/fugitive-vim)
2. [`vim-markdown-safe-and-sound`](http://vimawesome.com/plugin/vim-markdown-safe-and-sound)

Suppose these slugs will be used in a context where the user might want to input them manually, such as for a plugin manager. Then it would burden the user to enter extraneous symbols like the trail

[2014-06-27 06:42] divad12 opened #21 "Don't show vim.org install instructions if GitHub README present"
The README will often contain any special install instructions if there are any.

[2014-06-27 06:48] divad12 opened #22 "Ignore case when scraping GitHub-based plugins"
GitHub ignores cases in repo locations, but unfortunately we don't. This means that when we discover references to GitHub repos that are the same but cased differently, we sadly treat them as different plugins.

For example:

http://vimawesome.com/plugin/asynccommand
http://vimawesome.com/plugin/asynccommand-all-too-well

The above refers to the same plugin but their GitHub repo names are `asyncco

[2014-06-27 07:02] divad12 opened #23 "Add VAM to install instructions box"
Add support for https://github.com/MarcWeber/vim-addon-manager to

![image](https://cloud.githubusercontent.com/assets/159687/3408420/f8cc7f8c-fdc8-11e3-936c-7ac04f70936b.png)

[2014-06-27 07:17] divad12 opened #24 "Increase contrast and make more accessible for color-blind users"
Reports of not enough contrast on the site:
1. http://www.reddit.com/r/vim/comments/29692h/my_friends_and_i_just_released_vim_awesome_a_new/cihvq0e
2. https://news.ycombinator.com/item?id=7951591

[2014-06-27 08:31] bruno- opened #25 "Any user can edit plugin categories and tags"
Hi guys,
any user could wreak havoc to site categories and tags. I think this is not right, but maybe I'm missing something..

http://cl.ly/image/220C342V0x2T

[2014-06-27 08:37] #25 closed, assigned to nobody

[2014-06-27 16:46] giodamelio opened #27 "Add plugin name to page titles"
When you have a bunch of tabs open, it can get a bit confusing since the title is always `Vim Awesome`, it would be great to add the name of the plugin for indivitual pages, e.g. `fugitive.vim - Vim Awesome`

[2014-06-27 18:51] divad12 opened #28 "Add vim-plug to install instructions box"
Add support for https://github.com/junegunn/vim-plug to

![image](https://cloud.githubusercontent.com/assets/159687/3416359/fc61a3d0-fe2b-11e3-9ea3-19c773c24769.png)

Thanks to @Shougo for bringing this up in #23.

[2014-06-27 21:25] keith opened #30 "GitHub case sensitivity"
Partially related to https://github.com/divad12/vim-awesome/issues/22

The case of GitHub usernames matters. Cloning something at `keithbsmiley` is not the same as cloning at `Keithbsmiley`. This case sensitivity should be carried over to the install commands. I noticed that it wasn't always. [Example](http://vimawesome.com/plugin/specta-vim)
![screen shot 2014-06-27 at 2 25 36 pm](https://cloud.g

[2014-06-27 21:27] keith opened #31 "Duplicate plugins"
I noticed that there were duplicates of one of my plugins and since there wasn't a fork I assumed it is an issue:

http://vimawesome.com/plugin/specta-vim
http://vimawesome.com/plugin/specta-vim-treacherous

Besides the URL they seem to be similar. Although one shows a GitHub user and the other doesn't but has the vim.org link.

[2014-06-27 21:42] #31 closed, assigned to nobody

[2014-06-28 07:14] andyzg opened #32 "Add Tags placeholder gets cut off"
![screen shot 2014-06-28 at 12 11 44 am](https://cloud.githubusercontent.com/assets/3849459/3420091/b320936c-fe93-11e3-9bd9-7ac9e4ddf4c8.png)
Minor UI issue

[2014-06-29 17:56] divad12 opened #33 "Rewrite relative URLs in GitHub READMEs to be absolute"
Otherwise, we get broken links, e.g. http://vimawesome.com/plugin/vim-multiple-cursors

![image](https://cloud.githubusercontent.com/assets/159687/3423979/ba5b9234-ffb6-11e3-9160-805efb71b138.png)

[2014-06-29 18:25] divad12 opened #35 "Dotfiles scraping: Look for "Plugin" references for Vundle-managed dotfiles"
Since [Vundle 0.10.2](https://github.com/gmarik/Vundle.vim/releases/tag/v0.10.2), references to plugins use the keyword `Plugin` instead of the old `Bundle`. But, [we still only look for references to `Bundle`](https://github.com/divad12/vim-awesome/blob/80bad670dd4b9fc5d1d8f2a0d9bde3ea8f45eaae/tools/scrape/github.py#L421).

An example of a `.vimrc` file using newer Vundle's `Plugin` keyword:

htt

[2014-06-29 18:26] divad12 opened #36 "Dotfiles scraping: Scrape VAM-managed plugins too"

[2014-06-29 18:35] divad12 opened #37 "Add plugin homepage link to details page"
Some plugins have their own homepage, e.g. https://github.com/hsitz/VimOrganizer

It would be good to link to that somewhere here:

![image](https://cloud.githubusercontent.com/assets/159687/3424073/0f4171ba-ffbc-11e3-8685-54b676f04c68.png)

[2014-06-29 18:42] divad12 opened #38 "Linkify "vimscript #1234" references in vim.org long descriptions"
e.g. http://vimawesome.com/plugin/yamlvim references other vim.org plugins by their vim.org IDs. You can see them linkified in the original description on vim.org: http://www.vim.org/scripts/script.php?script_id=3190

[2014-06-29 18:48] divad12 opened #39 "On plugin details page, show other plugins often used with this one"
Since we scrape dotfiles repos, it's possible to determine plugins that are frequently used together.

Thanks https://news.ycombinator.com/item?id=7951968 for the suggestion.

[2014-06-29 18:49] divad12 opened #40 "On plugin details page, show incompatible plugins"
Thanks https://news.ycombinator.com/item?id=7951968 for the suggestion.

[2014-06-29 19:07] divad12 opened #41 "Scrape vim-plug managed plugins"
[This configuration file](https://github.com/mikker/dotfiles/blob/4526f60978a354251b3bea516408491e08c69c93/vim/plugins.vim) contains plugins managed by https://github.com/junegunn/vim-plug. Scrape them like we do Vundle-, Pathogen-, and NeoBundle-managed plugins

[2014-06-29 20:04] #35 closed, assigned to nobody

[2014-06-30 06:57] divad12 opened #42 "Fix sidebar on short screens"
From an email:

[2014-06-30 07:02] divad12 opened #43 "Sidebar category menu items cannot be clicked on iOS"
Open vimawesome.com on iOS mobile Safari. Tap "Language". Nothing happens. However, the "Submit plugin" button still works.

[2014-07-05 13:27] ianwang opened #46 "ImportError: No module named flask"
Hi there,
I got an error in set up part (step 5 `$ make`)

[code]

my machine is running on OSX10.9.

[2014-07-08 00:49] #30 closed, assigned to nobody

[2014-07-08 07:42] #46 closed, assigned to nobody

[2014-07-13 22:10] #11 closed, assigned to nobody

[2014-07-16 21:13] #32 closed, assigned to nobody

[2014-07-22 06:53] #27 closed, assigned to nobody

[2014-07-24 14:43] giodamelio opened #49 "Keyboard shortcut to take you back to search from plugin page"
When I am browsing plugins, I often want to go back to the search page easily. It would be great if `/` worked on plugin pages.

[2014-07-29 15:51] parnmatt opened #50 "Github Link Ignored"
Hi, I submitted a plugin the other day, and included the github URL as well as the vim.org URL. However it seems as though it has ignored the github URL completely.

![screen shot 2014-07-29 at 16 50 03](https://cloud.githubusercontent.com/assets/318829/3737547/0a6ebefc-1738-11e4-9d1c-f2970a96dece.png)

I know my internet was buggy that day, hence why you may see a couple of duplicates in the syst

[2014-07-29 18:17] #50 closed, assigned to nobody

[2014-08-06 02:29] andyzg opened #51 "Markdown not working for some plugin"
http://vimawesome.com/plugin/vim-python-pep8-indent
https://github.com/hynek/vim-python-pep8-indent

[2014-08-06 07:41] #51 closed, assigned to nobody

[2014-08-22 07:15] #33 closed, assigned to nobody

[2014-08-31 19:14] peterhajas opened #54 "Add a "recent" section"
It'd be really cool if vimawesome could show all the new vim plugins that people are making. This could be done with a "recent" or "new" section of the site.

[2014-10-07 20:56] justinmk opened #55 "project status"
vimawesome.com is a great effort, but it seems dormant, based on the [twitter account](https://twitter.com/vimawesome) and lack of github activity. It also seems like the scraper is not run regularly.

What are the plans for the project?

[2014-10-07 21:57] #55 closed, assigned to nobody

[2014-11-14 00:10] trusktr opened #57 "Request: Login and user profiles."
Allow people to login, have a profile, and own plugins. Let plugins have stars, likes, or similar.

[2015-01-07 09:46] mgedmin commented on #42
+1

[2015-01-07 09:50] mgedmin opened #58 "Unclear how to add multiple tags in submit form"
http://vimawesome.com/submit

![screenshot](https://cloud.githubusercontent.com/assets/159967/5643595/f174121c-9662-11e4-8158-e39fa8f9c10a.png)

I've no idea how to add both "Plugin" and "Plugin mngr" as tags.  Are tags comma-separated?  Semicolon-separated?  Surely not space-separated, since tags can have embedded spaces!

Attempts to discover the separator by trying '; ' or ',' and expecting a c

[2015-01-07 09:52] mgedmin opened #59 "Tag counts seem to be wrong"
http://vimawesome.com/?q=tag:plugin shows three results:
![screenshot 1](https://cloud.githubusercontent.com/assets/159967/5643639/8b01e2e2-9663-11e4-9b7c-d61ee48fd78f.png)

This contradicts the sidebar, which says the tag 'plugin' is used 5 times:
![screenshot 2](https://cloud.githubusercontent.com/assets/159967/5643637/884dd0b0-9663-11e4-8287-13b86c4404d8.png)

[2015-02-17 00:22] #28 closed

[2015-02-17 04:11] jonafato commented on #4
PR #52 resolves this issue, but it was not automatically closed. @divad12 can you close this?

[2015-02-17 04:11] #4 closed

[2015-02-17 04:12] divad12 commented on #4
Oops, thanks for the reminder.

[2015-02-18 08:47] morhetz opened #61 "Stats data is not updated"
I'm pretty sure stats data is not updated at all.
E.g. [syntastic page](http://vimawesome.com/plugin/syntastic) counts 3811 stars, while that's actually 4450 on [github page](https://github.com/scrooloose/syntastic)

[2015-02-18 18:56] divad12 commented on #61
They're not! The scraper has been broken for quite a few months now... :(

I'm going to try to find some time this weekend to fix that. Apologies for the lack of maintenance here.

[2015-02-19 12:54] Shougo commented on #18
https://dl.dropboxusercontent.com/u/18795947/vim_awesome_rethinkdb_dump.tar.gz

Database dump is available in above URI.
I think plugin managers can parse it.

[2015-03-26 19:55] gerroon opened #63 "FR: Sorting?"
Hi

This is great, thanksfor the awesome work. Is it possible to have basic sorts like based on date, update, name, popularity etc?

thanks

[2015-03-26 21:05] divad12 commented on #63
Hi, thanks for the compliments!

There's an issue out to sort by newest here: https://github.com/divad12/vim-awesome/issues/13

The current sorting is by popularity already (# of users of a plugin). Maybe that could be made clearer if we have a sorting UI.

[2015-03-26 21:05] #63 closed

[2015-04-11 21:11] dkns opened #64 "Powerline plugin is listed more than once"
Search for powerline. You'll find few different version although they all point to same github repository (powerline/powerline), e.g.

http://vimawesome.com/plugin/powerline-red
http://vimawesome.com/plugin/powerline-back-to-december
http://vimawesome.com/plugin/powerline-love-story

Same thing with powerline fonts:
http://vimawesome.com/plugin/fonts-if-this-was-a-movie
http://vimawesome.com/plugi

[2015-04-16 09:01] avelino opened #65 "API consumption in vim-bootstrap.com"
Hey guys, we are evolving the vim-bootstrap.com and wanted to ask permission to consume the API to you.
Don't be a real-time consumption, we have a process that consumes the API of X in X time (1 time per day) generating a local file for consumption of vim-bootstrap.

See the consumer code: https://github.com/avelino/vim-bootstrap/blob/7fe40d53a75d97e5609f178b4d70ccc7ae1f8016/bin/awesomevim.py

[2015-04-16 15:42] captbaritone commented on #65
:+1:

[2015-04-23 08:56] divad12 commented on #65
Sorry for the late reply, but API consumption is totally cool. :)

http://vim-bootstrap.com/ looks awesome. Good luck and have fun!

[2015-04-23 08:56] #65 closed

[2015-04-23 12:55] avelino commented on #65
Thanks...

[2015-05-19 11:38] renyard opened #66 "git-flow-format links to GitHub mirror, not the source repo"
The listing for my plugin, [git-flow-format](http://vimawesome.com/plugin/git-flow-format) is linking to the vim-scripts mirror, rather than my original repo. The installation instructions are also pointing to the mirror.

The mirror is currently out of date, compared to the original, and is missing a couple of bug fixes.

Mirror: https://github.com/vim-scripts/git-flow-format
Original: https://gi

[2015-05-22 11:40] renyard commented on #66
Looks like the mirror has now picked up the latest version, but the description on vim-awesome is still out of date with the current functionality.

[2015-05-22 17:28] divad12 commented on #66
Hi Renyard,

I'll need to look into the automated scraper and aggregator to determine why it's deciding to point to the vim-scripts mirror over the original repo. There's a bunch of heuristics that try to determine which is the more "authoritative" GitHub repo — it's clearly failing in this case. (It could be that more of the dotfiles repos we're scraping have vim config files that point to the vi

[2015-05-22 18:59] renyard commented on #66
Thanks David

I suspect that you're right about more dotfiles pointing at the mirror. Let
me know if there's any more info I can provide.

The mirror is listing me as the author of the commits. Maybe this could be
compared against the GitHub and vim.org accounts, if it's not already? Are
the heuristics in tools/scrape/build_github_index.py? I may have some time
next week and I'd be happy to take a

[2015-05-22 19:39] divad12 commented on #66
I think where we decide which GitHub repo to show is here:

https://github.com/divad12/vim-awesome/blob/c02cd9812014cbe3cc724be3483efab4545f29a6/db/plugins.py#L288

It looks like it takes # of GitHub stars into account.

Theres's more to it (like we need to have associated the vim-scripts mirror with your original repo in the scraping step), but I seem to have forgotten most of the details myself.

[2015-06-07 13:01] asm0dey opened #67 "502 on vimawesome.com"

[2015-06-07 22:02] divad12 commented on #67
Fixed — restarted gunicorn. Not sure why it crashed. Error from logs:

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/gunicorn/arbiter.py", line 174, in run
    self.sleep()
  File "/usr/local/lib/python2.7/dist-packages/gunicorn/arbiter.py", line 308, in sleep
    oldest = min(w.tmp.last_update() for w in worker_values)
  File "/usr/local/lib/python2.7/dist-pack

[2015-06-07 22:02] #67 closed

[2015-06-07 22:02] divad12 commented on #67
Thanks for reporting!

[2015-06-08 04:09] asm0dey commented on #67
Thanks for fixing :)

[2015-06-22 19:53] oinirio opened #68 "page 5 is full of powerline"
Title explains it good

[2015-06-22 20:12] captbaritone commented on #68
URLS are interesting:

* http://vimawesome.com/plugin/powerline-safe-and-sound
* http://vimawesome.com/plugin/powerline-the-story-of-us
* http://vimawesome.com/plugin/powerline-ours
* http://vimawesome.com/plugin/powerline-enchanted
* http://vimawesome.com/plugin/powerline-everything-has-changed
* http://vimawesome.com/plugin/powerline-treacherous
* http://vimawesome.com/plugin/powerline-mine
* ht

[2015-06-25 10:26] codeinabox opened #69 "Behat is a PHP framework not a Vim plugin"
This is incorrectly listed as a Vim plugin http://vimawesome.com/plugin/behat

[2015-06-27 20:52] dkns commented on #68
Also reported here: #64

[2015-07-08 18:26] mkuts12 opened #70 "DataBase dump missing"
It seems as if the DB dump is not in the link.
could you please fix the link?
thanks!

[2015-07-20 13:24] thirtythreeforty opened #71 "Links in scraped readmes don't resolve correctly"
The [vimshell.vim](http://vimawesome.com/plugin/vimshell-vim) page is a good example of this.  The author provides a link to `doc/vimshell.txt`, which works fine on GitHub as a relative URL, but this link obviously breaks on vimawesome.com.

Would it be possible to detect and replace these relative links?

[2015-09-03 07:30] balaclark commented on #41
This would good, vim-plug is quite popular now.

[2015-09-20 10:35] frankier opened #72 "Plugins appear multiple times"
Eg look at: http://vimawesome.com/?q=vimtex links to http://vimawesome.com/plugin/vimtex-forever-and-always ; http://vimawesome.com/plugin/vimtex-shouldve-said-no and http://vimawesome.com/plugin/vimtex-long-live and more.

Is someone spamming the plugin submissions? Can we make it so a given github url is only allowed one vimawesome entry?

[2015-09-21 19:09] superscript18 commented on #72
+1

[2015-09-21 21:16] captbaritone commented on #72
Duplicate of https://github.com/divad12/vim-awesome/issues/68, https://github.com/divad12/vim-awesome/issues/64

[2015-10-29 08:59] i-give-up opened #73 "Should the CtrlP page link to the active Github fork instead?"
[The original repo](https://github.com/kien/ctrlp.vim) hasn't had any commits since more than 2 years ago.

In comparison, [the ctrpvim/ctrlp.vim fork](https://github.com/ctrlpvim/ctrlp.vim) is still actively maintained and is accepting pull requests. Word is that [this fork has the blessing of the CtrlP author](https://github.com/ctrlpvim/ctrlp.vim/issues/128#issuecomment-137352888) but there has

[2015-11-12 11:16] Delapouite commented on #73
Absolutely. This is a much needed redirection,

[2015-12-04 10:25] mkomigor commented on #70
+1

[2015-12-06 03:19] jkup opened #74 "Vundle appearing multiple times"
I'm seeing vundle showing up a lot on the home page currently.
![screen shot 2015-12-04 at 11 49 24 pm](https://cloud.githubusercontent.com/assets/490294/11611478/1add41f0-9b85-11e5-9737-285a9918466b.png)

[2015-12-07 01:30] Graham42 opened #75 "Using forward slash ("/") Conflicts with Firefox defaults"
In Firefox, the forward slash `/` defaults to searching the page. Perhaps we could get a secondary key as a shortcut to jump to the search box?

[2015-12-07 18:54] spicyj commented on #75
Gmail and Facebook both use `/`, not to mention vim itself – so I think we'll plan to leave this. Thanks for the suggestion though.

[2015-12-07 18:54] #75 closed

[2015-12-08 21:41] Delapouite commented on #74
Yes, long time bug mentioned a few times already but with unfortunately no adequate measure to fix it :

the project is currently dead.

[2015-12-09 02:28] divad12 commented on #74
We're looking for a maintainer. Please email `emacs@vimawesome.com` if you're interested.

[2015-12-14 23:00] divad12 commented on #74
If anyone wants to look into this, I wrote a report for a school project on this a year+ ago:

https://www.dropbox.com/s/24owxihtek7vau9/report.pdf?dl=0

[2015-12-14 23:16] Shougo commented on #74
@divad12 It is the great article!  I will look into it.

[2015-12-14 23:19] divad12 commented on #74
Thank you @Shougo! :)

[2015-12-14 23:31] Shougo commented on #74
This project is important for Vim/neovim.
I want to support it.
Unfotunately, I have not much experience/time for it.

[2015-12-14 23:32] Shougo commented on #74
I think the best is to create the organization for VimAwesome.
And look for the new maintainers from Vim/neovim users.

[2015-12-14 23:41] Shougo commented on #74
@divad12 Could you announce it in neovim/vim_dev MLs or Vim reddit page?

[2015-12-15 07:24] Delapouite commented on #74
Absolutely, a GitHub organization is the way to go.

[2015-12-16 05:35] divad12 commented on #74
Happy to migrate to an org once we find a new maintainer.

[2015-12-16 21:51] aerohit commented on #74
Hi @divad12 I am trying to run the site locally, but I fail at step 6 and 7

[code]

[code]

[code]

I haven't worked with rethinkdb before, so some pointers would be of immense help.

[2015-12-16 21:52] aerohit commented on #74
And besides that, do you already have any clue about the cause of the bug?

[2015-12-16 22:28] spicyj commented on #74
The server is currently running rethinkdb 1.16.1 – perhaps you have a newer version where something's changed? We should probably upgrade but I don't know what needs changing.

[2015-12-17 09:45] aerohit commented on #74
@spicyj ok cool, let me try that in the evening after work.

[2015-12-17 11:06] Shougo commented on #74
:+1:
I will search a new maintainer.

[2016-01-09 17:44] delirehberi commented on #74
I'm candidate for maintaining.

[2016-02-09 17:57] captbaritone opened #77 "Can't click links near to the top of readmes"
The padding of `.plugin-page .install .content-column` plus the `height: 100%;` is such that is overhangs its parent and overlaps the very top of the readme text. This renders links near the top unclickable.

![screen shot 2016-02-09 at 9 55 41 am](https://cloud.githubusercontent.com/assets/162735/12925484/5e3ded66-cf13-11e5-9b6c-9082f81e28e1.png)

[2016-02-10 04:03] divad12 commented on #77
Good find! The README should actually be beneath the "install from" box, but over the years apparently there's been a regression, although the CSS or HTML has not changed (but browsers have!).

It should actually look like this:

![image](https://cloud.githubusercontent.com/assets/159687/12938396/2cf1ee92-cf68-11e5-9e76-5ab9fa128f14.png)

That's done with a `clear: both`.

[2016-02-10 04:46] captbaritone commented on #77
Ah, good to know. Should be fixable.

--
Jordan Eldredge

Please excuse any typos or terseness; this email was sent from a mobile device.

[2016-02-29 18:09] captbaritone commented on #70
I believe this was fixed in https://github.com/divad12/vim-awesome/commit/70aeda0ca77f63147d2e5924a393262867b2e76e. Feel free to re-open if you are experiencing issues accessing the database dump.

[2016-02-29 18:09] #70 closed

[2016-02-29 18:15] captbaritone commented on #64
Looks like this is due to the fact that we were treating GitHub owner/repo names as case sensitive, when GitHub urls are case insensitive. I'm working on a fix in pull request #80.

[2016-02-29 18:16] captbaritone commented on #74
Closing as duplicate of #64.

[2016-02-29 18:16] #74 closed

[2016-02-29 18:16] captbaritone commented on #72
Closing as a duplicate of #64.

[2016-02-29 18:16] #72 closed

[2016-02-29 18:16] captbaritone commented on #68
Closing as a duplicate of #64.

[2016-02-29 18:16] #68 closed

[2016-02-29 18:22] captbaritone commented on #73
Can anyone think of a general case way to handle this sort of issue? I agree that we should be referencing the fork, but I hesitate to handle this case manually. While this case seems quite clear-cut, in general I don't think this project should be in the business of manually deciding which fork to prefer.

[2016-03-01 02:59] divad12 commented on #73
+1 @captbaritone

[2016-03-03 23:58] captbaritone commented on #73
I've thought about this a bit more, and I think it's probably outside the scope of this project. Our goal is to aggregate the plugins that people are __actually using__. The truth is, the deprecated version is still quite popular. As people move away from the deprecated version that should be reflected in our numbers, and eventually the maintained version will bubble to the top (we hope!).

While

[2016-03-03 23:58] #73 closed

[2016-03-03 23:59] captbaritone commented on #64
Closing as duplicate of #64.

[2016-03-04 00:02] danielcompton commented on #64
This issue is #64? Not sure if it should be a dupe of itself :) ?

[2016-03-04 00:52] captbaritone commented on #64
@danielcompton Thanks for catching that brain fart!

[2016-03-04 04:47] divad12 commented on #73
That all sounds good to me, thanks @captbaritone for the thoughts and reasoning!

[2016-03-06 04:50] #77 closed

[2016-03-06 21:14] captbaritone opened #84 "Consider using owner/repo instead of slug"
Currently our unique identifier for an individual plugin is a slug, which we generate from the plugins name. In cases where the plugin name is non-unique, we append some random strings to create a unique name.

Since, I believe, we have a GitHub URL for every plugin in our database, we could instead use the GitHub `owner/repo` as our unique identifier, thus offloading namespacing/uniqueness to Git

[2016-03-06 22:53] captbaritone opened #85 "Consider moving chat to Gitter"
A number of open source projects now use Gitter as their chat hangout over the more traditional IRC. I'm not crazy about moving from an open platform to a closed one but I think it may be worth the ideological sacrifice. I'll list some pros and cons:

## Pros

1. Easy access to chat history from when you were away
2. Easy access on mobile (their app is pretty good)
3. We could probably move our ex

[2016-03-06 23:03] Shougo commented on #85
:+1:

[2016-03-07 03:11] jonafato commented on #84
This seems like a good approach to me. It should also be applicable with other sites (e.g. Bitbucket and GitLab) if support for those were ever added.

This would mean that new submissions would require a GitHub URL and not be possible with just a vim.org link, correct? That's not an issue, but it is something to keep in mind when making the UI changes related to the data model.

[2016-03-07 03:34] captbaritone commented on #84
Currently all vim.org plugins are mirrored at https://github.com/vim-scripts. We could use that URL for those plugins which we discover from vim.org. (There may be some lag time between when they are posted to vim.org and when they get mirrored on GitHub, but I think there is eventual consistency)

Your point about other git hosts is a good one. I wonder if we should include a domain prefix like `

[2016-03-07 05:06] jonafato commented on #85
TL;DR: I'm fine with IRC, but I won't argue against Gitter much either.

Posting the comments I made in IRC (with some additions and modifications) here for better visibility:

The last couple of times I used Gitter, I wasn't a big fan. Overall, I found the app to be kind of sluggish (particularly when navigating between channels). Things may have improved since then, so I can't really speak to th

[2016-03-07 16:41] captbaritone commented on #85
@jonafato Thanks for your thoughts. All valid!

I've updated the Readme and made Gitter our main hangout with the understanding that if it fails to meet our needs we can easily move somewhere else.

https://github.com/divad12/vim-awesome/commit/d440d9970450b4def6c560d28d7094e373377211

Join me! https://gitter.im/divad12/vim-awesome

[2016-03-07 16:41] #85 closed

[2016-03-07 18:24] divad12 commented on #85
Great, thanks for setting that up @captbaritone! Let's see how it goes.

I'm open to either — I don't use either right now! Been too busy with other things to do much in open source land. And I'm handing this off to you and others who can spend the proper time and care to contribute and maintain to this project, so I leave it up to y'all!

[2016-03-08 20:37] captbaritone commented on #64
Fixed via https://github.com/divad12/vim-awesome/pull/80 :clap:

Please take a look at the site and feel free to comment here is you see anything screwy.

[2016-03-08 20:37] #64 closed

[2016-03-09 15:32] captbaritone opened #87 "Ussage count for EasyMotion is wrong"
It currently shows that 105,437 people are using EasyMotion, but we only have 82,228 dotfile repositories.

<img width="830" alt="screen shot 2016-03-09 at 7 30 50 am" src="https://cloud.githubusercontent.com/assets/162735/13640301/ea0ac258-e5c8-11e5-998e-2e2061f84262.png">

<img width="959" alt="screen shot 2016-03-09 at 7 31 27 am" src="https://cloud.githubusercontent.com/assets/162735/13640320/

[2016-03-09 19:32] #41 closed

[2016-03-09 19:53] captbaritone commented on #87
As of the last deploy, this seems to have correct itself.

[2016-03-09 19:53] #87 closed

[2016-03-09 19:55] spicyj commented on #87
Weird.

[2016-03-09 21:10] captbaritone commented on #61
This seems to be fixed, at least in this one plugin's case.

[2016-03-09 21:10] #61 closed

[2016-03-09 21:11] captbaritone commented on #57
I think this is beyond the scope of this project. People can already star/own plugins on GitHub. I'm going to close this issue, but feel free to update if you there are are compelling use-cases I am over looking.

Thanks for your suggestion, and sorry it took us so long to respond.

[2016-03-09 21:11] #57 closed

[2016-03-09 21:15] captbaritone commented on #54
Do you think it would be more valuable to list newly discovered plugins (which may be of little value since they might not be complete) or newly popular plugins? The latter seems more valuable for discovering plugins which would actually be useful to use, but it would also require an opinionated definition of what "popular" means.

[2016-03-10 05:43] captbaritone commented on #23
Seems unmaintained and significantly less popular than other plugin managers (at least judging by stars).

[2016-03-10 05:43] #23 closed

[2016-03-10 05:48] captbaritone commented on #54
Related: https://github.com/divad12/vim-awesome/issues/7

[2016-03-10 06:05] aytch commented on #54
Maybe "trending" is a better way to convey this? "Recent" (at least in my view of the language) only implies "new".

[2016-03-10 06:21] jonafato commented on #54
Can we address this just by providing sorting options? Off the top of my head:
- Newest
- Recently updated (by date of latest commit?)
- Most popular (all time)
- "Trending" (this is a place things always get fuzzy and would require a bit of work in the direction of "normalized increase in usage / stars in the past X days")

To address #7, we can just provide the information in these lists in diff

[2016-03-10 06:25] jonafato commented on #54
See also: #13.

[2016-03-10 06:34] jonafato commented on #84
If this is the direction that things are headed, should #20 be closed as a won't fix / no longer relevant?

[2016-03-10 08:41] Delapouite opened #90 "List all plugins by same author"
Hello

Currently, the author of each plugin is displayed right after the plugin's name. Example :

[code]

What about adding a link on "Tim Pope" with `http://vimawesome.com/?q=tim%20pope` as the href.
This way a user can quickly see all Tim Pope plugins listed on the website.

[2016-03-10 18:09] jonafato commented on #90
If GitHub `username/repo` combinations become the unique identifier (see #84), this could simply be `/plugins/username/repo` (or, to futureproof this and allow for other sites, `/plugins/github/username/repo`), with lists at just `/plugins/username` right? I don't think the fact that all of the vimorg plugins are listed under `vim-scripts` detracts from the value of being able to browse plugins li

[2016-03-10 18:12] captbaritone commented on #90
@jonafato That seems quite reasonable. It would just be a matter of knowing what to call that link. "Author" would not really be appropriate.

[2016-03-10 18:44] jonafato commented on #90
"Author" does seem like an awkward name here, especially because that field can map to both individuals and GitHub organizations. "Owner" or "Maintainer" are probably closer, but they still don't seem to fit right to me. This may be a moot point, though; will we actually be using this wording anywhere, or would it be similar to the breadcrumbs style links used on GitHub itself (e.g., for this repo

[2016-03-10 18:47] captbaritone commented on #69
I've added it to our blacklist: https://github.com/divad12/vim-awesome/commit/377995265b23a49abc169aeaf499a4fbba224124

I'll have to dig a little more to see how/if this actual makes it into our "plugins" table.

[2016-03-11 06:31] justrajdeep commented on #54
+1

[2016-03-15 02:20] spicyj opened #93 "Can't find "clone" script"
I can't find http://www.vim.org/scripts/script.php?script_id=4896 using the search, using terms "karkat" (the author), "clone", or "4896". Maybe it wasn't scraped?

[2016-03-16 14:59] captbaritone commented on #93
It looks like "clone" was a casualty of my dedupe migrations. :grimacing:  It existed in an edge case where it had been scraped from vim.org, but did not exists on https://github.com/vim-scripts Therefore it had a github owner and repo name of: `""`. When we ran the dedupe migration it would have merged all such plugins together.

I'm exploring the possibility of rewriting our migration to not try

[2016-03-17 05:10] captbaritone commented on #3
@freddyrangel If you could help get us pointed in the right direction with this one, that would be hugely helpful. Even just getting the test framework and a single test which we could use as a model.

[2016-03-17 05:16] captbaritone commented on #22
Fixed by #80.

[2016-03-17 06:39] captbaritone opened #94 "Upgrade RethinkDB"
We are on a quite-old version. 1.16.1. I'm not sure what version we could reasonably upgrade to. The most recent Python driver available through pip seems to be `2.2.0.post3`, so I'm guessing that means we don't want to upgrade the DB itself past that version? From what I've seen, I'm assuming the driver versions match the DB version, but I haven't seen that said explicitly.

Change log here: http

[2016-03-19 04:57] captbaritone opened #95 "configparser errors on .gitmodules with duplicate keys"
This looks like a possible lead: http://stackoverflow.com/questions/15848674/how-to-configparse-a-file-keeping-multiple-values-for-identical-keys

From our github dotfiles scraping logs:

[code]

Here is the file in questions:

[code]

Note that the 3rd and last submodules are both `"configs/vim/bundle/vundle"`

[2016-03-19 05:19] captbaritone opened #96 "Plugin scraping is failing `repo_name` assertion"
Here's the error we are getting:
[code]

It looks like the problem starts with the fact that we've created a `plugin_github_repos` entry for a `github.com/~/.fzf' which is obviously not a valid GitHub repo.

Here is the entry from the database `r.db('vim_awesome').table('plugin_github_repos').filter({owner: '~'});`:

[code]

[2016-03-19 05:25] captbaritone commented on #96
Strange!

For whatever reason `https://github.com/~/.fzf` does not return 404, but instead redirects you to `https://github.com`. Our code currently assumes that if we look for a repo and it redirects, the resulting URL is a valid repo.

https://github.com/divad12/vim-awesome/blob/master/tools/scrape/github.py#L253-L267

[2016-03-21 14:13] captbaritone commented on #93
This is actually not an edge case at all. All vimorg-only plugins were deleted :(

With #97 fixed, we should now be re-scraping vimorg plugins. Tags and categories for these plugins have probably been lost, but I think this is probably a simpler "fix" than trying to go back to an old DB dump.

[2016-03-21 14:15] captbaritone opened #98 "Unicode error when scraping vimorg"
[code]

[2016-03-21 15:14] captbaritone opened #99 "Error when scraping vimcat on vim.org"
[code]

[2016-03-21 16:48] captbaritone opened #101 "Create a "404" page"
Currently we just show an empty page for URLs that we don't recognize.

![screen shot 2016-03-21 at 12 47 07 pm](https://cloud.githubusercontent.com/assets/162735/13926513/0d008ad8-ef63-11e5-956f-8bf319c09ca8.png)

[2016-03-21 18:39] #98 closed

[2016-03-21 18:39] #99 closed

[2016-03-22 03:02] denisinla commented on #101
+1

[2016-03-22 03:45] captbaritone commented on #101
@denisinla I don't have any particular idea other than it will probably be the nav bar, the footer and some 404 message. I think getting the js app to render any kind of special 404 view would be worth merging. From there we can look at improving the design.

[2016-03-22 07:59] denisinla commented on #101
@captbaritone Added the 404 view with pre-existing styles. Let me know if this will work.

Thanks!

[2016-03-22 13:12] #101 closed

[2016-03-22 13:15] captbaritone opened #104 "Trigger 404 view when plugin api returns 404"
Related to #101

Currently if you try to load a plugin that does not exist, you get stuck on a page that just shows the loading gif forever. We should handle the 404 response from the api and show our 404 view.

Maybe @denisinla would be interested in working on this?

![screen shot 2016-03-22 at 9 14 01 am](https://cloud.githubusercontent.com/assets/162735/13952755/a41b47cc-f00e-11e5-8e62-705f9f6

[2016-03-22 14:32] captbaritone commented on #93
With #97 and #100 merged we are now re-crawling vim.org plugins and "clone" is back:

http://vimawesome.com/plugin/clone

[2016-03-22 14:32] #93 closed

[2016-03-22 14:40] captbaritone opened #105 "Setup ESLint"
http://eslint.org/

https://github.com/yannickcr/eslint-plugin-react

[2016-03-22 18:02] denisinla commented on #104
@captbaritone I'll take a look then.

[2016-03-23 04:36] spicyj commented on #93
Sweet, thanks for looking.

[2016-03-23 13:03] #105 closed

[2016-03-23 15:40] captbaritone opened #107 "Log messages to Gitter instead of HipChat"
We are currently logging to a HipChat room that is not public. Instead we should use Gitter's API to log to our Gitter room.

[2016-03-25 19:16] captbaritone commented on #66
I think this has resolved itself: http://vimawesome.com/plugin/git-flow-format

If you have any followup questions, we can always reopen.

[2016-03-25 19:16] #66 closed

[2016-04-04 08:05] dkns opened #108 "vim-addon-mw-utils listed as having over 3000 users"
http://vimawesome.com/plugin/vim-addon-mw-utils

Looking at github (https://github.com/marcweber/vim-addon-mw-utils) this addon has 70 stars, no readme and was updated last time 4 years ago. I have some doubts that it's used by over 3000 people.

[2016-04-04 19:53] captbaritone commented on #108
@dkns Very suspicious indeed. Thanks for the report, I'll look into it.

[2016-04-04 20:00] captbaritone opened #109 "Flask error: RQLRuntimeError"
From `~/logs/flask/flask.log.2016-04-01`. Looks like we are getting several of these a day.

[code]

[2016-04-04 20:17] jonafato commented on #109
On a somewhat related note, how are developers notified of exceptions like this at the moment? Sentry has a free tier for [open source](https://getsentry.com/for/open-source/) projects. The integration is a simple Flask plugin, and I'd be happy to submit a pull request for that change.

(Sorry, this comment is borderline off-topic and not really relevant to the issue or its cause, but it might hel

[2016-04-04 20:57] captbaritone opened #110 "Integrate with Sentry"
As @jonafato pointed out in #109 we could use their free tier for open source projects. :+1:

[2016-04-04 20:57] captbaritone commented on #110
@jonafato Want to take a stab at this?

[2016-04-05 05:25] captbaritone commented on #108
From my investigation, I think it might actually just be that popular:

https://github.com/search?q=MarcWeber%2Fvim-addon-mw-utils&type=Code&utf8=%E2%9C%93

Here's a selection from the list of dotfiles that include it:

[code]

I spot checked a few of these, and they all seem to reference the plugin.

[2016-04-05 05:25] #108 closed

[2016-04-05 05:36] #110 closed

[2016-04-05 06:19] captbaritone opened #114 "Don't exit deploy.sh if gunicorn has crashed"
See: #113

If killing gunicorn fails because the process is already dead, we should just proceed and try to start it up.

[2016-04-05 09:32] dkns commented on #108
Huh. Well, you learn something new every day!

[2016-04-06 05:36] captbaritone opened #118 "Setup GreenKeeper"
https://greenkeeper.io/

Blocked by #3

[2016-04-06 05:50] spicyj commented on #3
What sorts of things do you want to test @captbaritone?

[2016-04-06 07:34] puterakahfi opened #120 "web vimawesome.com can't load detail of plugin"
Hi all,
I don't know where to report issues about the website functionality,
please deleted this one if i post in wrong place.

I found an issue when click detail of plugin, it's always display preloader
I think the problem is the javacript, in console log it's diplay
Uncaught TypeError: undefined is not a function   /static/build/js/app.js:1

Thanks.
Kahfi

[2016-04-06 10:10] yigitozkavci commented on #120
I do get that console error too. There shows this on console: Uncaught TypeError: u.moment is not a function

[2016-04-06 11:23] captbaritone commented on #120
Sorry folks. I broke this when I (stupidly) did #119.

Fixed here: 00e3b1ba1791ad59bda8a6436fc71b8d92d087f0

We should be back now.

[2016-04-06 11:23] #120 closed

[2016-04-06 11:29] captbaritone commented on #3
@spicyj I accidentally demonstrated a JS test use-case last night: https://github.com/divad12/vim-awesome/issues/120 (Obviously I still should have loaded one of each type of view after I deployed, but we'll ignore that for now...)

A baseline set of tests that assert that each React class renders would be a good start.

[2016-04-06 11:31] captbaritone commented on #120
@puterakahfi To your question, this _is_ the right place to report issues with website functionality. Thanks for reporting the issue. :+1:

[2016-04-06 17:29] captbaritone opened #122 "Only use JavaScript Sentry in prod"

[2016-04-07 03:44] #3 closed

[2016-04-07 05:24] captbaritone opened #132 "Document that node >= 4 is required to run tests"
Not sure where this should go.

See: https://github.com/divad12/vim-awesome/pull/130

[2016-04-11 17:36] m1foley opened #142 "Cannot add tags to plugin"
Plugin URL: http://vimawesome.com/plugin/expresso-vim

I recently added this plugin to Vim Awesome. I tagged it with the `Math` tag when creating the entry. Now that it's on the site, I do not see the `Math` tag. When I try to add it back, I am unable to. [Video here](https://monosnap.com/file/PqTneVvTnpEoUADmfA9b3YA00VgMva).

[2016-04-12 06:17] captbaritone commented on #109
Possibly related: https://github.com/vim-awesome/vim-awesome/blob/master/crontab#L38-L46

[2016-04-12 06:19] captbaritone commented on #109
We've seen several of these in Sentry for different endpoints. The one thing in common is:

    RqlRuntimeError: Cannot perform read: Primary replica for shard ["", +inf) not available in:

[2016-04-12 06:33] captbaritone commented on #142
Thanks very much for the report. I'll look into it tomorrow or Wednesday depending on my availability.

[2016-04-12 19:41] #142 closed

[2016-04-12 19:49] captbaritone commented on #142
@m1foley Could you try again?

[2016-04-12 21:30] m1foley commented on #142
Verified that it works.

[2016-04-12 21:34] m1foley opened #145 "Category & tags don't persist on plugin creation"
Plugin URL: http://vimawesome.com/plugin/expresso-vim

When I first created this plugin entry, I placed it in the "Commands" category, and gave it the "Math" tag. Neither of these were persisted when the plugin was added to vim-awesome; I had to manually re-add both the category & tags.

I don't know if #142 fixed the tags portion of this.

[2016-04-13 06:38] thejsj commented on #109
Just dropping by and reading some of these issues: Noticing the error and your crontab, it seems that RethinkDB running out of memory seems probable (I'm guessing this is only running one db node, right?). As the comment said, decreasing RethinkDB cache size might be a possible solution.

[2016-04-13 16:33] captbaritone opened #146 "Add integration tests"
It would be wise to have some tests that test the API from request through to response. To do that we need to setup rethinkdb in Travis.

Cc @thejsj

[2016-04-13 17:33] thejsj commented on #146
I agree this is probably the way to go (at least for now). I've done that before and it's not too hard to do. We could use [RethinkDB Lite](https://github.com/neumino/reqlite) if we wanted to, but since we're running Python it might not make as much sense.

[2016-04-13 18:11] captbaritone commented on #146
Yeah, let's just jump in with both feet and run a real DB instance for tests.

Blog post about setting up RethinkDB in Travis: http://blog.hiphipjorge.com/setting-up-travis-yml-tests-with-rethinkdb/ (via @thejsj)

[2016-04-14 16:23] captbaritone opened #148 "Pull database name from our config file"
Currently our DB name `vim_awrsome` is hard coded in a few places. In preparation for using rethinkdb in tests (#146), we should allow this to be configurable since we don't want tests to affect actual dev (or _prod_!) data.

I put some work into this last night and encountered a problem where importing `app`, which contains our config values, within `db.db_utils` causes an import cycle.

Is there

[2016-04-14 17:13] #94 closed

[2016-04-16 18:56] #107 closed

[2016-04-16 20:03] #122 closed

[2016-04-18 06:09] captbaritone commented on #145
@m1foley I believe this is actually because we discovered your plugin from vim.org rather than from your submisssion.

We scraped your plugin at Wed, 30 Mar 2016 00:00:00 GMT, and you didn't submit it until nearly 24 hours later: Wed, 30 Mar 2016 23:22:28 GMT.

At this point we don't have any facility for merging submissions with scrapped plugins. We probably should.

[2016-04-18 06:09] #145 closed

[2016-04-18 06:12] captbaritone commented on #58
It looks like currently you have to press enter twice to select a tag. This is not very intuitive and should probably be fixed.

[2016-04-18 17:10] captbaritone opened #157 "Allow admins to review submitted plugins from within Gitter"
It would be cool if the we could review plugins from chat rather than having to use the command line (https://github.com/vim-awesome/vim-awesome/blob/master/tools/review_submitted_plugins.py)

Then I could review submissions on the bus on my way to work 😀

https://developer.gitter.im/docs/streaming-api

[2016-04-18 23:17] #58 closed

[2016-04-18 23:25] captbaritone commented on #118
Done.

[2016-04-18 23:25] #118 closed

[2016-04-19 00:00] captbaritone commented on #95
It's worth noting that this error is actually being handled, but is then being thrown into our logs via `logging.exception`: https://github.com/vim-awesome/vim-awesome/blob/master/tools/scrape/github.py#L575-L576

[2016-04-20 03:44] captbaritone commented on #109
@thejsj

I was able to extract this from our logs:

[code]

I'm guessing that we are getting the default lower bound cache size because we are on a cheap VPS with very little memory.

I'm guessing reducing it further is not the right solution?

[2016-04-20 03:59] captbaritone commented on #59
This seems to be due to the fact that we filter out plugin managers for search results (https://github.com/vim-awesome/vim-awesome/blob/master/db/plugins.py#L556-L566) but we don't do the same thing for tag count (https://github.com/vim-awesome/vim-awesome/blob/master/db/categories.py#L28-L37)

[2016-04-20 04:06] captbaritone opened #159 "Use secondary index for sorting"
RethinkDB had a bug (https://github.com/rethinkdb/rethinkdb/issues/1796) which @divad12 worked around (https://github.com/vim-awesome/vim-awesome/commit/d92383640ee0033e8af00909aba7b48b513457d4) I'm guessing that the bug is now fixed, and we could try going back to using the secondary indexes.

[2016-04-20 20:01] captbaritone opened #161 "Setup https using letsencrypt"

[2016-04-24 23:36] thejsj commented on #109
Do you know how much memory exactly we have on it? Is RethinkDB the only thing running here? Going to ask in the RethinkDB slack channel about this.

[2016-04-25 03:25] captbaritone commented on #109
@thejsj I believe we have 2GB of RAM. As far as I know the server is just running RethinkDB and the web-server.

[2016-04-25 17:53] dalanmiller commented on #109
Any reason @captbaritone you guys are on `v1.13`?

[2016-04-25 17:55] thejsj commented on #109
@dalanmiller Not sure if this ever got deployed, but there's a merged PR for upgrading: https://github.com/vim-awesome/vim-awesome/pull/141

[2016-04-25 20:36] captbaritone commented on #109
Yes. The `2.0.0` deploy was run. We're running that on the server now.

[2016-04-27 00:07] captbaritone opened #165 "Explore the ability to give users tailored plugin suggestions based on plugins they currently use"
Given our database of dotfiles, we could employ [collaborative filtering](https://en.wikipedia.org/wiki/Collaborative_filtering) to offer tailord plugin suggestions to users based on the plugins they are already using. Think of Netflix's movie recommendations based on ratings, or Amazon's product recommendations based on past purchases.

In this issue, I'd love to get some brain-storm-style ideas

[2016-04-27 17:43] divad12 commented on #165
This is really cool, thanks for all the thinking you've done on this! I think we could definitely display results as regular results to start with. Hm, not sure about the call to action yet. I'd lean towards whatever's easiest to start with, and tweak from there!

[2016-04-27 18:57] captbaritone opened #169 "Better view for when list of plugins is empty"
Currently we just show an empty page with the count showing "0".

I think it would be nice to have some indicator where the results would usually be.

I found a nice collection of designs for the "empty state" here: http://emptystat.es/

[2016-04-27 19:41] denilsonsa opened #170 "Report broken plugins"
There is a page to submit new plugins.

There should be a page/link/button/UI to report broken plugins.

In this case, I found this: http://vimawesome.com/plugin/unicode-haskell but [the GitHub repository linked by it](https://github.com/frerich/unicode-haskell) is not found.

[2016-04-27 20:18] captbaritone commented on #170
Interesting. In this particular case, we could probably be checking our data for plugins where the github link is dead.

Does that sound like a reasonable solution?

[2016-04-27 20:25] denilsonsa commented on #170
Yes, sounds like a good solution.

But that made me think…

What if someone finds out a plugin is malicious? Or what if a plugin was not updated in years and is now broken? What if a plugin is broken in only some versions of vim? Should this project even try to handle such cases? Maybe not. Probably not.

[2016-04-28 00:05] captbaritone commented on #170
All good questions. I've thought about it a bit, and at this point I think we need to focus on being a repository of factual information. Unfortunately "broken" or "malicious" could end up being somewhat subjective. Subjective doesn't scale ;)

To be fair, tags and categories are subjective, but they are at least non-judgemental.

[2016-04-28 00:07] captbaritone opened #171 "Audit plugins for dead github links"
We should have a task that regularly checks to make sure our github links don't point to non-existent pages. Related to #170

[2016-04-28 00:07] captbaritone commented on #170
Closing in favor of #171

[2016-04-28 00:08] #170 closed

[2016-04-28 08:57] denilsonsa commented on #170
Sounds fine. Thanks!

[2016-04-28 08:59] denilsonsa commented on #171
Just for completeness: both github and vim.org links. (And whatever link that may be added in the future.)

[2016-05-10 13:48] #69 closed

[2016-05-10 17:56] captbaritone opened #180 "Local storage error on mobile Safari?"
https://app.getsentry.com/share/issue/37333232342e313231343030363333/

[2016-05-10 18:01] spicyj commented on #180
IIRC, most common in private browsing mode.

[2016-05-15 23:45] tbodt opened #181 "Replace links to other vim plugins on github to links on vimawesome"

[2016-05-16 04:55] captbaritone commented on #181
@tbodt You're proposing we modify the links in README files so that links that would have pointed to the GitHub repository for another Vim plugin, would instead point to that plugin's vimawesome page?

[2016-05-17 03:26] tbodt commented on #181
Exactly.

[2016-05-17 04:09] jonafato commented on #181
This would be a really cool feature for users of the site and definitely provide a better overall experience (no leaving the site when browsing), but I would hesitate to introduce a change like this for two reasons:

1. It introduces additional technical complexity.
    - All links now need to be processed to check whether or not they point to plugins.
    - There are bound to be edge cases that t

[2016-05-17 04:16] captbaritone commented on #181
Yeah, it's a cool idea, thanks @tbodt for bringing it up!

However, I think it feels odd to modify the plugin author's content (@jonfato's point number 2). The way we present the README description, it feels obvious that it's being pulled directly from GitHub. I think it would be confusing for us to be modifying the content without any clear indication of what we're doing.

While it would be prett

[2016-05-17 04:17] #181 closed

[2016-05-17 04:38] divad12 commented on #181
Thanks for making the call @captbaritone , thanks for suggesting @tbodt

[2016-05-18 01:28] captbaritone opened #185 "Submit plugins via ajax"
Currently New plugins are submitted by actually submitting the form. Submitting via Ajax would be a nice first step toward adding some additional server-side validation for things like checking if we already have the plugin, or if the links return 200.

[2016-05-18 01:28] captbaritone opened #186 "Require either a github or vimorg link when submitting plugins"
This will require some kind of new UI for indicating non-filed-specific validation errors.

[2016-05-18 01:34] captbaritone commented on #95
Maybe someone with more Git knowledge could help. Is it valid to have two submodules with the same key like this? @samv or @jemiahlee?

[2016-05-18 01:39] captbaritone opened #187 "Migrate to lodash"
Should reduce our build size since we will only bundle the methods we use (which is quite few).

We could also play with the Lodash-webpack-plugin!

[2016-05-18 15:52] captbaritone opened #189 "Add missing `.value()`"
I'm pretty sure we have a bug because I didn't add a `.value()` at the end of the chain here: https://github.com/vim-awesome/vim-awesome/blob/master/web/static/js/Category.jsx#L71

[2016-05-18 16:08] #189 closed

[2016-05-18 21:19] #187 closed

[2016-05-20 05:54] captbaritone opened #194 "Be more restrictive about valid github usernames"
Somehow a few paths like `~/my-plugin` are getting parsed as GitHub `username/repo` pairs. GitHub's usernames are actually rather restrictive, so we could do a better job with our RegExes and avoid such issues in the future:

<img width="468" alt="screen shot 2016-05-19 at 10 44 08 pm" src="https://cloud.githubusercontent.com/assets/162735/15418412/06f4a57c-1e14-11e6-8c6c-bf3912ba1ea7.png">

This

[2016-05-24 03:24] captbaritone opened #198 "Allow moving the mouse into Install popovers"
Since #193 was merged, if you move  your mouse from a plugin manager's name into the popover (in an attempt to click the link), the popover will close and you won't be able to click the link.

[2016-05-24 04:05] captbaritone opened #201 "Add webpack build to the test suite"
We should assert that the build succeeds as part of our tests.

[2016-07-10 15:05] wifiextender opened #227 "[unresolved] All plugins show updated 4 months ago ?!"
Regardless of the clicked plugin link, your website will always show updated 4 months ago.

![untitled](https://cloud.githubusercontent.com/assets/4725121/16714350/24a4e04e-46c0-11e6-8261-1fb8956e4d28.png)

[2016-07-11 20:20] MaxMEllon opened #228 "I would like you to add of vim-jsx-pretty the list."
https://github.com/MaxMEllon/vim-jsx-pretty

If you wouldn't mind, please add this plugin.

[2016-07-12 14:32] jonafato commented on #228
New plugins can be submitted at http://vimawesome.com/submit.

[2016-07-12 14:42] MaxMEllon commented on #228
Oh. I m sorry. thanks

[2016-07-12 14:42] #228 closed

[2016-07-13 23:38] wifiextender commented on #227
Closing this issue as unresolvable. Feel free to update it when you resolve it.

[2016-07-14 02:12] captbaritone commented on #227
I think this may be a legitimate issue, so I'm going to reopen. I see several plugins with "last modified" dates greater than 4 months, but none less than 4 months (despite them having github updates more recent than that).

Is that what you were noticing?

[2016-07-14 02:59] #96 closed

[2016-07-14 03:08] captbaritone commented on #227
It looks like our GitHub plugin scrape task has been broken for a while due to #96. I'm currently shipping #229 in an attempt to resolve that issue. The task appears to be running smoothy now, but it may take a few days for those results to get fully up to date, and be reflected on the website.

Thanks for the report.

[2016-07-14 03:09] captbaritone opened #230 "Integrate our non-flask code with Sentry"
Looks like our Github plugin repo scraping task has been broken for several months, without us realizing it (#227).

It's currently not easy to tell when one of these tasks is crashing, unless you manually check the logs.

@jonafato Any interest in looking into this?

[2016-07-14 04:06] jonafato commented on #230
Yup, I can take a look next week.

[2016-07-25 03:27] captbaritone commented on #227
This issue seems to be resolved. Thanks again to @wifiextender for bringing it to my attention!

http://vimawesome.com/plugin/vim-airline

[2016-07-25 03:27] #227 closed

[2016-07-30 17:25] #230 closed

[2016-08-15 16:52] ZethJack opened #248 "Hyperlist Plugin by Geir Isene seems to have incorrect link."
### Describtion
I was trying to install Hyperlist plugin by following the "Vundle" instructions listed on vim-awesome page, and ran into some issues by doing so.

### Setup
To install plugins, I use plugin Vundle manager.
Following the instructions
 - I placed the line **Plugin 'HyperList'** into my .vimrc file
 - ran vim commands *:w|so%* followed by *:PluginInstall*

### Results
After Vundle dow

[2016-08-17 17:51] captbaritone opened #250 "gunicorn crashed"
Site was down for some time (502 Bad Gateway) because gunicorn crashed:

[code]

Possibly related? https://github.com/benoitc/gunicorn/issues/863

[2016-09-05 03:43] captbaritone commented on #250
Site went down again. @divad12 re-deployed to bring it back up (see Gitter chat for details). I've just upgraded us from Gunicorn v19.0.0 v19.6.0 which should include the above fix.

I'm going to close this issue for now on the assumption that the upgrade should fix the issue.

I've also set up [uptimerobot.com](uptimerobot.com) so hopefully I'll notice down-time like this sooner in the future.

Y

[2016-09-05 03:43] #250 closed

[2016-09-16 05:10] drozzy opened #263 "Vim 8.0 packages?"
Do you guys support the new vim 8.0 packages? Or does it not influence this at all?

[2016-09-16 19:59] Shougo commented on #263
Vim 8.0 packages feature does not support packages installation.

[2016-09-22 02:02] drozzy commented on #263
Not sure what you mean, seems like you just need to create a subdirectory.

Here is a sample vim 8 package:
https://github.com/stan-kondrat/vim8-jspack

Or am I misunderstanding something?

[2016-10-05 00:13] captbaritone commented on #263
From reading the release notes, it seems Vim 8 will load plugins from a plugins directory when asked. I don't really see an analogue to the instructions we currently provide. Maybe just `git cone xxx`? Seems like a stretch to me.

Additionally I foresee that it would be hard to message it correctly, since it will probably be awhile before a majority of users have Vim version 8.

[2016-11-07 18:26] captbaritone commented on #263
I'm going to close this issue with the anticipation that as vim 8 makes its way into popular distros, we will want to revisit this issue.

[2016-11-07 19:18] justrajdeep opened #278 "Please add a option to sort plugins by the date they were added to github?"
Hi

Please add a option to sort plugins by the date they were added to github?

Thanks

[2017-01-17 06:04] AlexK-IL opened #292 "A way to list all plugins"
I'd like to write a script to download all the plugins listed on the website. Is there a way I could get a list of all plugins? Or at least those that are available through public git repositories.

[2017-01-22 05:41] fusion809 opened #294 "Build instructions fail on Fedora 25: no module called flask.ext.cache"
Hi,

I followed your build instructions and on my 64-bit Fedora 25 machine I got the error:

[code]

the precise instructions I followed was:

At the stage of running `make` I got the aforementioned error. Any ideas how to resolve this error?

Thanks for your time,
Brenton

[2017-04-05 21:15] captbaritone opened #320 "Keep fewer DB dumps"
A comment in our cron config says that logrotate should be handling cleaning our old dumps, but that does not seem to be the case. It looks like we have daily backups dating back to 2014. I'll look into how logrotate gets configured.

This caused us to be down for four hours today. When the disk become full, RethinkDB crashed and individual plugin pages were returning 500. Search and list pages ar

[2017-04-08 04:42] captbaritone commented on #294
Did you see any errors/warnings when you ran `pip install -r requirements.txt`?

[2017-04-08 10:27] fusion809 commented on #294
This is so long ago that I no longer have a Fedora 25 system. So I'll close. Very efficient way of dealing with issues, merely don't reply for long enough and they'll fix themselves or people will quit using the OS. :P

[2017-04-08 10:27] #294 closed

[2017-04-08 15:25] captbaritone commented on #294
Yeah, sorry about missing this one!

[2017-04-10 03:55] captbaritone opened #324 "pip-compile is failing"
When I run `pip-compile -v requirements.in` I'm getting an error:

[code]

Looking at the verbose output, it looks like it's choking on the dependency of `ravan[flask]`? Perhaps that package has defined it's packages in a way that is incorrect?

I'm really not sure. Here's the verbose output:

https://gist.github.com/captbaritone/952e1f3d1b9a4a9f4b5b6def0f10a99d

@jonafato ?

[2017-04-10 04:03] captbaritone commented on #292
@AlexK-IL Sorry for the very slow response! You'd be welcome to do a one-time pass through all the plugins by sequentially calling this endpoint: `http://vimawesome.com/api/plugins?query=&page=1` it looks like there are ~765 pages of results you would need to fetch.

You could also download our database dump (see the README). If you need a more recent dump, let me know.

Again, apologies for the v

[2017-04-10 04:03] #292 closed

[2017-04-10 17:37] jonafato commented on #324
@captbaritone I'm not able to reproduce this issue locally with the most recent versions of `setuptools` (the library that provides `pkg_resources`) and `pip-tools` (the library that provides `pip-compile`) under Python 2.7.12 or 3.5.2.

Does upgrading those two packages fix the issue? (i.e. `pip install -U setuptools pip-tools`.) If not, can you provide me with the Python version you're using so

[2017-04-10 18:27] captbaritone commented on #324
I'm on MacOS:

* Python 2.7.13
* setuptools 34.4.1
* pip-tools 1.8.2

[code]

[code]

[2017-04-10 20:06] jonafato commented on #324
Per the error message in your gist, it seems like the version of `pkg_resources` installed doesn't match what's reported (here's the line in the `setuptools` repo that should be raising that error, but the code in the traceback doesn't match the code for the 34.4.1 tag on GitHub: https://github.com/pypa/setuptools/blob/v34.4.1/pkg_resources/__init__.py#L2921). This [issue](https://github.com/pypa/

[2017-04-10 20:13] captbaritone commented on #324
[code]

[2017-04-11 16:25] captbaritone commented on #320
Reopening, since we will still need to actually enable the cron job once we assert that `--dry-run` is doing the right thing.

[2017-05-13 19:09] grr opened #346 "Add wishlist/lazyweb area"
I'm not aware of any place where users can submit _ideas_ for new plugins. It would be great if we could have a curated list of unimplemented plugin requests that users can vote on. Then the minority of users who are actually proficient in vimscript, will know what project to tackle next, if they're so inclined.

[2017-05-13 20:12] captbaritone commented on #346
Sounds like this feature would require some active moderation and judgement calls, I'm not sure I personally have the time/interest to moderate such a feature. Did you have any specific ideas as to how this feature would be implemented? Would you be interested in implanting the feature yourself?

[2017-05-14 06:26] grr commented on #346
I have no idea how to implement (consider that my first wishlist item ;-), but I was thinking that the section would be maintained solely by users. They submit the items, and other users vote them up/down or comment (links to vim wiki or stackoverflow, etc). So moderation would only be necessary if items were flagged as inappropriate/spam/etc.

[2017-05-15 14:04] captbaritone commented on #346
I don't currently have the time to work on such a feature, but it does sound interesting. I'm going to close this issue, since I don't see it having any immediate momentum. If other people express their interest in this feature, or if somebody wants to take it on as a project, I'm happy to re-evaluate.

[2017-05-15 14:04] #346 closed

[2017-05-16 07:20] Fashaun opened #347 "bash-support is failing"
Hi ,

the bash-support install guide is fail when you use vim-plug

[2017-05-16 13:49] captbaritone commented on #347
Any idea what's going wrong? Any error messages/screenshots you could share?

[2017-05-16 17:48] nfischer opened #348 "vim-plug no longer falls back to vim-scripts repo"
Unlike Vundle, vim-plug [no longer](https://github.com/junegunn/vim-plug/commit/f7e6a86807a1f0be7257620a8c425e1a32f877bb) falls back to [vim-scripts](https://github.com/vim-scripts) plugins if the user leaves off the github username:

[code]

Any chance we could get vim-plug instructions updated for relevant plugins? junegunn/vim-plug#632 just got filed because of incorrect instructions for instal

[2017-05-17 03:01] captbaritone commented on #347
Closing as a dupe of #348.

[2017-05-17 03:01] #347 closed

[2017-05-17 03:09] #348 closed

[2017-05-17 03:12] captbaritone commented on #347
This should be resolved. Could you confirm that it now works for you? http://vimawesome.com/plugin/bash-support-vim

[2017-05-17 06:21] nfischer commented on #348
Thanks for the quick fix, @captbaritone!

[2017-05-17 13:58] captbaritone commented on #348
Thanks for reporting it!

[2017-05-23 21:10] deltaxflux opened #357 "Install failed"
**After running all steps and I get following error**
[code]
I also installed the ruby compass modul and all required python packages using the pip command. Currently I use arch so I modify the Makefile from python .... to python2, to make sure all scripts get executed with python2.7.

**Here are my specs:**
**OS:** ARCH
**Kernel:** 4.10.13-1-ARCH
**Python version:**  Python 2.7.13 and Python 3.6

[2017-05-23 21:21] deltaxflux commented on #357
Fixed it

[2017-05-23 21:21] #357 closed

[2017-05-24 00:46] captbaritone commented on #357
Do you mind sharing what the issue was, in case someone else hits the same issue?

[2017-05-24 04:33] deltaxflux commented on #357
I make a quick pull request

[2017-05-26 10:20] anchnk opened #361 "Add OpenSearch support for browsers search engines extensions"
Hi,

One feature that could add even more awesomeness would be [OpenSearch](http://www.opensearch.org/Specifications/OpenSearch/1.1#OpenSearch_description_document) support. I've searched if that was already done but found nothing mentioning it. **One main use case would be `vim-awesome` extension installed in browsers search engines bars**.

I am willing to work on that feature and collaborate. T

[2017-05-31 18:01] captbaritone opened #362 "Consider using react-markdown for markdown rendering"
This seems like a better approach than using dangerouslySetInnerHTML.

https://github.com/rexxars/react-markdown/

[2017-05-31 18:03] captbaritone commented on #361
Could you give a brief outline of what would would be involved here?

[2017-06-09 13:45] anchnk commented on #361
1. [ ] Modify `web/templates/index.html` to include a link to the [OpenSearch description document](http://www.opensearch.org/Specifications/OpenSearch/1.1#OpenSearch_description_document)

Something like:

`<link rel="search" type="application/opensearchdescription+xml" href="/static/opensearch.xml" title="Vim Awesome">`

2. [ ] Create an OpenSearch description document with vim-awesome search en

[2017-06-09 14:21] anchnk commented on #361
Also here are the [source of the unofficial addon](https://addons.cdn.mozilla.net/user-media/addons/703646/vimawesome-20160520.xml?filehash=sha256%3Ab5202d9c162827e4254014fb0250b542999b1fe358eb7cbf0355e43d0f8d78b6) which only provides an OpenSearch description document. Also I don't know if you guys plan to switch to  `HTTPS` but that would be great.

[2017-06-19 16:28] metasyn opened #363 "js-beautify isn't a vim plugin (and should be removed)"
I don't think js-beautify should be on the plugins list at all because the vim plugin version of it is

https://github.com/maksimr/vim-jsbeautify

jsbeautifier.org lists:

[code]

as the plugins

[2017-06-22 23:58] idvoretskyi commented on #263
@captbaritone vim 8 just made it to Debian Stable (Stretch) [1], Ubuntu 17.04 [2], Fedora [3], Arch Linux [4], Gentoo [5] and even Brew [6].

It seems to be a good time to reopen the issue.

1. https://packages.debian.org/stretch/vim
2. https://packages.ubuntu.com/zesty/vim
3. https://apps.fedoraproject.org/packages/vim
4. https://www.archlinux.org/packages/extra/x86_64/vim/
5. https://packages.ge

[2017-06-22 23:59] idvoretskyi commented on #263
The sample of how the package "installation" for vim 8 should look like - is https://github.com/fatih/vim-go#install

[2017-06-23 00:05] #320 closed

[2017-06-23 00:06] captbaritone commented on #263
Awesome! Thanks for following up. Any interest in doing a pull request?

[2017-06-23 08:06] idvoretskyi commented on #263
Jordan, sure!

On Fri, Jun 23, 2017, 2:06 AM Jordan Eldredge <notifications@github.com>
wrote:

[2017-07-06 00:38] PegasusWang opened #364 "vimawesome.com 502 Bad Gateway"
http://vimawesome.com/   502

[2017-07-06 06:25] #114 closed

[2017-07-07 02:15] #364 closed

[2017-07-26 10:46] anchnk commented on #361
@captbaritone let me know if you would like to schedule something and if you are interested in integrating this in `vim-awesome` website. Unfortunately this doesn't work on `localhost` so it needs to be hosted in some domain.

[2017-07-31 22:06] pawel-slowik commented on #95
Hi @captbaritone ,

it is definitely _not_ valid to have submodules with the same path: https://git-scm.com/docs/gitmodules

In theory, it might be valid to have submodules with identical names, but different paths. In practice, that kind of strange configuration seems to work in older Git versions (2.1.4), but not in newer (2.9.0 crashes with _fatal: no submodule mapping found in .gitmodules_).

[2017-07-31 22:53] captbaritone commented on #95
Excellent. Thank you for the detailed response! Closing.

[2017-07-31 22:53] #95 closed

[2017-08-01 03:25] jonafato commented on #161
TL;DR: run the following commands for a quick and easy setup. Full details below the fold.

[code]

For best results, modify the nginx config as described below to redirect all http requests to their https versions. As is, this gets a B on the [SSL Labs test](https://www.ssllabs.com/ssltest/); I'm looking into the config changes necessary to get this up to at least an A, but a B isn't a bad place

[2017-08-14 09:26] pawel-slowik commented on #104
@captbaritone could you take a look at #366 ?

[2017-08-14 20:22] #104 closed

[2017-08-15 04:50] captbaritone commented on #161
Nice! This worked perfectly! We should be exclusively https now. Sorry it took me two weeks to get to this.

[2017-08-15 04:50] #161 closed

[2017-09-07 16:17] kutsan opened #369 "emacs-helm should be removed from catalog"
I am guessing https://vimawesome.com/plugin/helm is not meant to be there.

[2017-09-08 06:02] captbaritone commented on #369
Looks like this is because @achauve is using sub modules for both vim plugins (pathogen) and emacs plugins: https://github.com/achauve/dotfiles/blob/7500868efb0c5bff36d1caea42cd40ff5de13550/.gitmodules

I'll look into what if anything we can do to be smarter about how we interoperate submodules.

[2017-10-04 08:52] jreybert opened #370 "Consider dein.vim plugin manager for repo scraping"
[dein.vim](https://github.com/Shougo/dein.vim) is more and more used, and should be counted when scraping repositories.

[2017-10-20 01:08] davidjb commented on #71
+1.  Found the same issue, eg with [Ale](https://vimawesome.com/plugin/ale), its README has broken relative links.  Suppose you'd have to figure out where the README came from (eg GitHub etc) and rewrite accordingly to whatever rules that platform uses.

[2017-12-01 07:16] wvffle commented on #370
+1

[2017-12-29 15:35] unclechu commented on #370
I just made a PR for this #372

[2018-02-14 01:30] andportnoy opened #373 "Thank you!"
Just wanted to say thank you all for VimAwesome, it really simplifies the search for good plugins!

[2018-02-14 01:32] captbaritone commented on #373
I’m glad to hear that you’ve found it valuable!

[2018-02-23 00:36] roryokane commented on #370
The files to be edited to implement this feature are in [`tools/scrape/`](https://github.com/vim-awesome/vim-awesome/tree/master/tools/scrape). The important part of the change would go in [`github.py`](https://github.com/vim-awesome/vim-awesome/blob/master/tools/scrape/github.py).

@unclechu PR #372 is unrelated. It adds instructions in the interface for installing a plugin with Dein, but this is

[2018-02-23 01:04] roryokane opened #374 "Categories on the left should have the descriptive tooltips used elsewhere"
On a plugin page such as https://vimawesome.com/plugin/fugitive-vim, the plugin’s category is shown at the right. When hovering that category, and when hovering over other categories in the editing menu, descriptions of each category are displayed in tooltips:

![category description tooltip when editing a plugin’s category](https://user-images.githubusercontent.com/79168/36572643-f7de64ea-180a-11

[2018-02-23 08:06] jreybert commented on #370
Thank you @roryokane for your input. I did not started a PR because I feared the effort to add tests for this new scrapper...

I keep this in my Todo list.

[2018-04-19 13:00] agarrharr opened #375 "Wrong install command for consolation-vim"
Hi :wave:

For https://vimawesome.com/plugin/consolation-vim

the install command should be:

[code]

instead of:

[code]

[2018-04-22 14:16] luisjure opened #377 "wrong pages for csound-vim"
csound-vim is incorrectly listed as "csound":
https://vimawesome.com/plugin/csound

on the other hand, the plugin listed as "csound-vim" doesn't exist anymore:
https://vimawesome.com/plugin/csound-vim

it would be great to correct these issues to avoid confusion among csound/vim users.

thanks!

[2018-05-15 11:28] kke commented on #278
I don't see any way to sort the list, you're always just going to see the same top plugins. There's no reason to come back after you've checked those out.

[2018-08-01 22:59] justrajdeep commented on #278
Hi

If we can sort the plugins by date they were added to github we can keep checking if any interesting plugin got checked in.

[2018-08-24 22:39] #42 closed

[2018-08-29 11:14] hawkins opened #379 "What makes a plug-in awesome?"
Hey there, thanks so much for the sweet site. I’ve used it for nearly a year now, ever since a friend showed it to me in school one day!

I’ve been writing a simple vim plugin for markdown editing, and I would like for it to be in this list *eventually*, tho I wouldn’t be surprised if it’s not ready for prime time yet.

To that end, I was trying to find what makes a plug-in *awesome*? Are there an

[2018-09-02 05:05] saulaxel commented on #379
I'm not a maintainer but a user and can tell that the ratings are purely based on statistics.

If you look on the upper right corner of the plugin, you can two numbers: The number of users (based on web scrapping, considering Vundle, Pathogen and NeoBundle managers), and the number of stars in github.
![awesomestatistics](https://user-images.githubusercontent.com/17931304/44952383-89a2f480-ae43-11

[2018-09-28 20:57] tandrewnichols opened #380 "Tags and categories don't seem to be applied when adding a plugin"
I've submitted 4 plugins over the last couple weeks and on all 4, the category and tags I selected on the initial submission page were not applied. Instead, the category was "Uncategorized" and there were no tags. I had to edit them all from their individual pages to correctly apply the category and tags.

[2018-10-28 16:53] vamshi9666 commented on #379
i think the title of this issue is too broad. try to keep some title like " How do a plugin be featured ?" . tel me if i understood this in wrong way .

[2018-10-28 19:15] hawkins commented on #379
Fair, would “what are the requirements for a plugin to be listed?” be clearer?

I worded it the way I did because the readme and website suggest they only list awesome plugins, and that’s ambiguous, so I asked “what makes a plug-in awesome?” 🤷‍♂️ You’re totally right tho, it’s too broad as is

[2018-12-21 13:05] nyl2002 opened #381 "WordPress command line tool wp-cli and vim-awesome?"
The WordPress command line tool wp-cli is searching for an excellent way to list their packages/plugins:
https://github.com/wp-cli/ideas/issues/51

I think that vim and wp-cli are a natural match and could help promote each other.

It would be useful to both have more WordPress vim packages (https://vimawesome.com/?q=wordpress) and also to let wp-cli profit from features in vim plugins such as Ult

[2019-02-15 15:52] solter commented on #263
@idvoretskyi are you still working on a pull request to enable Vim 8 package installation instructions in the individual plugin pages? If not, do you have a private fork that you have any work on that I could pick up and run with - or should I just start from a new fork of master?

[2019-02-18 17:06] idvoretskyi commented on #263
@solter this ^. Unfortunately, I don't have enough capacity to work on this - please, pick up.

[2019-03-21 20:08] Zebradil opened #382 "The website is down (502 Bad Gateway)"

[2019-03-23 00:05] matrixise commented on #382
I am really sorry, but could you restart the back-end server... Thank you.

[2019-03-23 05:34] thedracle commented on #382
I spun up a mirror on a free EC2 instance in the short term, because I can't live life without vimawesome!

http://vimawesome.jsonthomas.com/

[2019-03-24 15:35] thedracle commented on #382
It looks like it's back up now... Maybe some automated system reset it?

[2019-03-24 22:54] #382 closed

[2019-03-28 07:46] kiryph commented on #370
I just want to point out that a global github search for

`"call dein#add('Shougo/deoplete.nvim')"`

https://github.com/search?q=%22call+dein%23add%28%27Shougo%2Fdeoplete.nvim%27%29%22&type=Code

reveals 1,671 code results.

I already assumed that the difference between github stars of deoplete (4000) and the number on vimawesome.com of 750 is too far away.

Is there any chance that the scaper wil

[2019-03-28 07:53] kiryph commented on #370
And are "init.vim" considered as well?

[2019-04-11 17:58] #381 closed

[2019-05-13 00:22] rvighne opened #383 "Unnecessary scrollbar in sidebar"
When the screen is large enough that there's enough space for all the items in the sidebar, it still displays a scrollbar. It's disabled, so it isn't useful and looks out-of-place:

![vimawesome com](https://user-images.githubusercontent.com/2198220/57589570-9a7b2e00-74d9-11e9-8c9a-ab67bee856c4.png)

This was introduced by #378, specifically this section of `screen.scss`, which forces scrolling:

[2019-06-10 15:26] Inilien opened #384 "sort by github stars"
Please add option to sort current list of plugins by the amount of gitstars (currently it is sorted by the amount of users).
There are some cases where only amount if github stars can be relevant. E.g. https://vimawesome.com/plugin/spacevim-hands-off

[2019-07-02 16:43] hozza opened #385 "Website Down 502 Bad Gateway nginx/1.4.6 (Ubuntu)"
Looks like https://vimawesome.com/ is down!

[2019-07-02 21:14] hozza commented on #385
It's up

[2019-07-02 21:14] #385 closed

[2019-07-15 10:36] w0rp opened #386 "Plugin organization redirects are not handled"
If a Vim plugin is transferred from a personal account to a GitHub organization page, Vim Awesome will count the plugin twice, both under the old URL and the new one. Note that this issue is distinct from a previous issue (#73) for forks. I think specifically plugins where old URLs are redirecting to new locations should be updated, such that only one link appears on the Vim Awesome website, under

[2019-10-18 22:08] YaBoiBurner opened #388 "There are a lot of things that aren't plugins"
I'm going to just put everything I found into one issue.

Other programs
https://vimawesome.com/plugin/bash-language-server
https://vimawesome.com/plugin/cquery
https://vimawesome.com/plugin/ctags
https://vimawesome.com/plugin/eslint
https://vimawesome.com/plugin/jedi
https://vimawesome.com/plugin/moonscript
https://vimawesome.com/plugin/quickfix
https://vimawesome.com/plugin/racer
https://vimawes

[2019-10-29 08:54] #90 closed

[2019-11-20 07:57] MaienM commented on #388
I ran into one of these just now, and was very confused by it for a bit. I wanted to report this problem, and was surprised to find that there is no built-in way to do so. I can submit a new entry, but I cannot remark on existing entries.

I found #170, which was closed in favor of a different solution for the specific case raised there, but in general it might be useful to be able to report a (pe

[2019-11-27 21:16] micalexander opened #389 "Maintained"
Is this repo still being maintained?

[2020-01-08 07:15] alerque opened #390 "Offer to join org and help maintain this"
This project is an awesome idea and started out well, but it has fallen into disrepair and the current state of affairs is a mess. It looks like it's been a few years since it got any real attention, and it needs both some love on the code side of things and a lot of database culling. For example I notice there are 4 entries for a plugin I maintain, only one of which even has the right links. Ther

[2020-01-08 07:15] alerque commented on #389
A bit of a look around suggests the answer to this is currently "no". See #390 for my proposal to change that.

[2020-01-08 07:23] alerque commented on #390
Just in case repository notifications are turned off, pinging @divad12 and @captbaritone directly as they are publicly listed on the org... there may be more relevant people but Github doesn't make it possible to see who all actually has repo ownership.

[2020-01-08 17:58] captbaritone commented on #390
This seems reasonable to me. The most I’ve had time/motivation to do in the last few years is restart the server when it occasionally crashes.

@sophiebits pays the bills on the server that it runs on, so I’ll defer to her on access to the server.

Probably the best place to start would be to take a look at the code and try to understand where the duplicate entries are coming from, or why they are

[2020-01-27 10:27] divad12 commented on #390
@alerque let me know if you need any directions on this. I'm the responsible party for the buggy deduping code 😝

I wrote this a while ago on the architecture: https://github.com/vim-awesome/vim-awesome/raw/master/docs/report.pdf (Section 5.3 contains relevant details on deduping. Recommend start reading on page 20, section 5)

I'm supportive of your proposal to help! It should be possible to crea

[2020-01-27 10:39] alerque commented on #390
@divad12 Thanks for the offer, I might take you up on that if/when I start digging in. Right now I'm kind of waiting to see if I actually get access to stuff before I put a bunch of work into PR's that are just going to sit around forever like current issues have ;-)

[2020-01-27 14:45] divad12 commented on #390
What would you like access to first, and what specifically would you do first with the access to that?

[2020-03-03 15:17] Deathnerd commented on #388
Also https://github.com/PowerShell/PowerShell when searching for "PowerShell" on the website. That's an _entire language runtime_ . After a 10 minute investigation, I think it's the `^[^\S\n]*(?:Bundle|Plugin)[^\S\n]*[\'"]([^\'"\n\r]+)[\'"]` regex in the scraper that's generating this false positive

[2020-05-07 23:53] divad12 commented on #390
Someone using my key?

[2020-05-08 12:10] alerque commented on #390
Negative from my side. If you didn't do so I would revoke the token, it must have leaked somewhere.

[2020-05-10 10:29] HP4k1h5 commented on #390
hi, im happy to help triage new submissions or setup a support ticket triage system through github or whatever is preferred.

[2020-05-11 06:01] alerque commented on #390
@HP4k1h5 Thanks for the offer. Unfortunately at this point to date nothing has really come of this attempt to revive the project. We haven't heard back from the admin of the current infrastructure about getting access to deploy anything that does get worked on and I still don't have any access to actually work on this repo. Given that old contributions have sat around for years without attention I

[2020-05-12 02:33] divad12 commented on #390
@alerque what sort of access do you need — I'm wondering if a dump of the production DB would be useful?

[2020-07-27 13:17] kristijanhusak commented on #390
I'd like to help on this also.

[2020-07-28 05:43] divad12 commented on #390
Great! How can we help you get started?

[2020-07-28 06:02] kristijanhusak commented on #390
@divad12 access to reviewing submitted plugins and ability to add them myself would be a good start.
For technical part, I can assist @alerque , since i'm not a python developer.

[2020-08-03 04:12] divad12 commented on #390
@kristijanhusak awesome. Send an email to emacs@vimawesome.com and I'll send you a database dump where you can start reviewing plugins.

[2020-08-03 10:45] kristijanhusak commented on #390
@divad12 what an email :D

Isn't there a way to do reviewing directly on vimawesome.com? Or this is just a precaution from your side?

[2020-08-03 11:02] alerque commented on #390
@divad12 A dump of the production database is a start, but what we really need is access to production! This project has been lots of people offering to help going back to many PRs that never got reviewed and accepted but if there is no path to actually get our contributions into production what's the point? I am still interested in helping out with this and can coordinate and effort to cleanup an

[2020-08-04 03:27] divad12 commented on #390
@kristijanhusak unfortunately there is no way to do direct reviewing on vimawesome.com. It would be nice to build such a feature!

@alerque I hear your desire to help and to have access to production to be able to help, and see that, even after 8 months, you are still eager to. I'll email you with next steps.

[2020-08-04 06:02] kristijanhusak commented on #390
@divad12 i'll definitely try to introduce this first. It's pain to do reviewing like this.
Can you also add me as collaborator here and allow me to merge PRs into master? Direct push to master should be forbidden anyway.

[2020-08-05 05:20] divad12 commented on #390
@kristijanhusak Submit a PR and I'll add you as collaborator if it looks good and gets merged. :)

[2020-08-11 04:11] divad12 commented on #390
And with #391 you are now a Python developer, @kristijanhusak 🤣

[2020-09-13 07:29] kristijanhusak commented on #390
@alerque I can create you a user for vimawesome so you can approve submitted plugins. Give me your email and i'll send you credentials.

[2020-09-18 01:38] ivantux1 opened #393 "Button "submit plugin" hinders when other button is active"
The "+ Submit plugin" looks good when all buttons are inactive:
![imagen](https://user-images.githubusercontent.com/53716442/93544657-3d408980-f924-11ea-9cea-59c289c3c76f.png)
and when you make click on any other button appears this:
![imagen](https://user-images.githubusercontent.com/53716442/93544997-fef79a00-f924-11ea-9e23-02123105db8f.png)
My suggestion is: Put that button up, right here:
![im

[2020-12-10 10:04] kmwyard opened #395 "Fix Security Issue(CVE-2016-2107) on vimawesome.com"
[vimawesome.com is vulnerable to CVE-2016-2107](https://www.ssllabs.com/ssltest/analyze.html?d=vimawesome.com) and supporting weak encrypted protocol like TLS 1.0 and TLS 1.1. How about update openssl, deprecating TLS 1.0 and TLS 1.1 on vimawesome.com and applying TLS 1.3?

[2021-01-08 08:50] XVilka commented on #370
@kiryph seems statistics has changed significantly since:
- `call dein#add('Shougo/deoplete.nvim')` returns 966 code results
- `Plugin 'shougo/deoplete.nvim'` returns 480 code results
- `Plug 'shougo/deoplete.nvim'` returns 5,479 code results

[2021-04-26 19:58] TornaxO7 commented on #390
What's the current status? Is vimawesome gonna be revived now? https://www.reddit.com/r/neovim/comments/mydhln/i_wanna_create_a_dead_simple_and_free_website_for/ neovim started a discussion about it.

[2021-04-26 20:46] kristijanhusak commented on #390
@TornaxO7 i don't think that should be the case. Codebase is very outdated (Python 2, old react version). It's maybe better to have something rewritten from scratch and have data migrated from here to there.

[2021-04-26 20:48] TornaxO7 commented on #390
Hm... that's sad to here... vimawesome was such a nice platform to find plugins :( So shouldn't that be announced on the website/README?

[2021-04-26 20:52] kristijanhusak commented on #390
It's not up to me. I'm just a contributor, not an author.
Since I introduced login and review feature, i check once a month and confirm few submitted plugins, but I don't have time to go through all of them. If you want to help, I can make you a user so you can login and review some of the submitted plugins yourself.

[2021-04-26 20:54] TornaxO7 commented on #390
And what's with cleaning up the database and remove non-vim-plugins?

[2021-04-26 20:56] TornaxO7 commented on #390
I don't know how much I can help, but I'd like to give it a try, so yeah, you can create an account for me :)

[2021-04-27 13:44] kristijanhusak commented on #390
@TornaxO7 if you can please contact me via Twitter DM (https://twitter.com/kristijan_husak) so we can set you up an account.

[2021-04-27 13:56] TornaxO7 commented on #390
oof... eh I don't have a twitter account.... could you write me an email instead? (tornax07@gmail.com)

[2021-04-27 21:56] TornaxO7 commented on #390
https://www.reddit.com/r/neovim/comments/mydhln/i_wanna_create_a_dead_simple_and_free_website_for/
There has been a discussion about creating a vim-awesome-like platform. It might be worth it to interact with the maintainer, since the project is pretty new so changes can be made "easily".

[2021-05-16 08:33] TornaxO7 commented on #390
Ok, to refresh the status of this issue, there's a "new" plugin-platform now: https://nvim-awesome.vercel.app/

I started [a little issue](https://github.com/lucax88x/nvim-awesome/issues/29) wondering if we could "port" the plugins from vim-awesome to nvim-awesome, since the project is pretty new.

[2021-07-08 09:06] TornaxO7 opened #396 "What happened to the server?"
What happended to the server? I can't ping `vimawesome.com` anymore.

[2021-07-09 07:34] GerardoGR commented on #396
Maybe the server crashed and it is one of those instances that @captbaritone might be able to restart it? (As mentioned in https://github.com/vim-awesome/vim-awesome/issues/390#issuecomment-572184731)

[2021-07-09 10:44] vyavdoshenko commented on #396
whois response:

   Domain Name: VIMAWESOME.COM
   Registry Domain ID: 1813556997_DOMAIN_COM-VRSN
   Registrar WHOIS Server: whois.namecheap.com
   Registrar URL: http://www.namecheap.com
   Updated Date: 2021-07-08T07:43:38Z
   Creation Date: 2013-07-08T00:22:54Z
   Registry Expiry Date: 2022-07-08T00:22:54Z
   Registrar: NameCheap, Inc.
   Registrar IANA ID: 1068
   Registrar Abuse Contact Email

[2021-07-09 18:07] captbaritone commented on #396
I'm not sure who owns (owned?) the domain. Maybe @sophiebits?

[2021-07-11 12:58] technikhil314 commented on #396
Hey awesome folks who are maintaining it,
Thanks a lot for all the work you have put up.
I would like to understand and help in fixing the issue.
Please let me know. I still see the site is down.

[2021-07-11 13:14] vyavdoshenko commented on #396
I wrote an email to Jordan (captbaritone).  He answered, but as he answered that, he is not sure who held the domain.
I wrote to Sophie (sophiebits), but she doesn't answer. I don't know what to do else.

[2021-07-12 10:15] closingin commented on #396
Hello guys,

If you want to access the website, it still answers at `198.58.101.18`, so you can edit your hosts file to resolve it on your machine. I found the IP address by [watching the IP history](https://viewdns.info/iphistory/?domain=vimawesome.com) of the domain. :slightly_smiling_face:

[code]

EDIT: I registered https://vimaweso.me/ (you'll encounter an ssl warning) and pointed it to their

[2021-07-12 17:35] sophiebits commented on #396
Hmm. I don't think I have the domain – best guess from my emails is that @divad12 registered it originally. I'll ping him separately in case he isn't checking GitHub notifications.

[2021-07-15 16:08] captbaritone commented on #396
Site seems back up for me.

[2021-07-15 16:08] #396 closed, assigned to nobody

[2021-07-15 16:30] sophiebits commented on #396
@divad12 and I were able to renew the domain last night for another 5 years. It's also been adjusted so that we both have access to manage the domain, which will hopefully avoid future outages. It's our plan to continue to keep the site online.

Thanks everyone here for flagging this – especially @TornaxO7 for filing and @closingin for the email (@vyavdoshenko, I don't seem to have ever received y

[2021-07-15 16:57] vyavdoshenko commented on #396
@sophiebits I found your contact email address at your github profile. It seems my email can be marked as spam. Anyway it's awesome that vimawesome.com is back.

[2021-09-14 06:48] bilucodota opened #397 "Update tabnine-vim plugin"
Hi guys,

Amir from [Tabnine](www.tabnine.com) engineering team.

We recently released a new version of tabnine-vim under a [new](https://github.com/tabnine/YouCompleteMe) repo.

I already submitted a plugin request (named vim-ycm-tabnine) which wasn't accepted yet.
I was wondering how / if possible to delete the old tabnine-vim plugin as it's deprecated now.

Appreciate your assistance!

[2021-11-13 17:55] captbaritone opened #398 "Let’s Encrypt Cert Expiring Soon (Nov. 23)"
Maybe the server is not correctly renewing certs?

Just got this email:

---
Your certificate (or certificates) for the names listed below will expire in 10 days (on 23 Nov 21 23:21 +0000). Please make sure to renew your certificate before then, or visitors to your web site will encounter errors.

We recommend renewing certificates automatically when they have a third of their total lifetime left.

[2021-11-26 17:16] florianb commented on #398
And its finally outdated – do you need a helping hand fixing it?

[2021-11-26 18:20] captbaritone commented on #398
I tried logging in and this is the error message I see:

[code]

I figured we'd need to upgrade certbot, but it looks like certbot was installed using pip (maybe by me years ago?) and that's not the recommended way to do it. I tried looking into installing certbot the suggested way via snapd, but I think our version of Ubuntu is too old to do it without some special care that I'm not sure about.

[2021-11-28 21:59] joaquinco commented on #398
@captbaritone Maybe this is the problem: https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/

[2021-11-28 23:18] sophiebits commented on #398
Fixed, for now.

* ran `sudo python -m pip install josepy==1.1.0 requests==2.14.2 acme==0.29.0 certbot==0.32.0 certbot-nginx==0.32.0` to get the old packages back
* manually edited `/usr/local/lib/python2.7/dist-packages/certifi/cacert.pem` to trust ISRG Root X1, which is Let's Encrypt's current root CA (I also added `/usr/local/share/ca-certificates/isrgrootx1.crt` and ran `update-ca-certificates

[2022-02-27 16:00] Kavinjsir commented on #398
Hey, not sure if this is relative.
Just seems like an outdated cert when viewing https://vimawesome.com/
<img width="382" alt="Screen Shot 2022-02-27 at 10 58 16 AM" src="https://user-images.githubusercontent.com/18136486/155889762-192d53ed-c62a-46bd-b246-d5f0a030b9e4.png">
Would be glad if someone may help.

[2022-03-04 01:07] lonepeon commented on #398
Hello.

Same as @Kavinjsir, I’m not sure it’s related but when we open vimawesome in Safari we get this error:

an expired certificate. This website's
certificate expired 5 days ago.

This has just been reported in [r/vim](https://www.reddit.com/r/vim/comments/t649ds/vimawesome_site_accessing_issue/).

[2022-03-22 10:20] l0rb commented on #398
@sophiebits seems to have fixed this temporarily. The certificate currently used expired on the 26. of February and thus most browser give users a warning or outright block the site.

[2022-03-22 22:10] AlienResidents commented on #398
How so?  The TLS cert is still expired for me.

[2022-03-23 08:31] l0rb commented on #398
The issue first occured on 23.11.2021 than was temporarily fixed from 29.11.2021 until 26.02.2022, and since than it's broken again.

[2022-07-09 14:59] paidhi opened #399 "nerdtree has a new location on GitHub"
Looks like _nerdtree_ has a new home on GitHub.
`scrooloose/nerdtree` is being redirected to `preservim/nerdtree`.

[2022-07-20 18:38] cbartlett commented on #390
I'm taking up the cause of maintenance on this and cleaning up old issues. Thanks for your concern!

[2022-07-20 18:38] #390 closed

[2022-07-20 18:38] #373 closed

[2022-07-20 18:40] #22 closed

[2022-07-20 18:42] sophiebits commented on #390
Thank you @cbartlett!!

[2022-07-20 18:44] cbartlett commented on #389
@micalexander Yes it is, now! Thanks for your interest.

[2022-07-20 18:44] #389 closed

[2022-07-20 18:46] #398 closed, assigned to nobody

[2022-07-20 18:46] #379 closed

[2022-07-20 18:53] #395 closed, assigned to nobody

[2022-07-20 18:53] #185 closed

[2022-07-20 18:55] #361 closed

[2022-07-20 18:56] #180 closed

[2022-07-20 18:57] #201 closed

[2022-07-20 18:59] #146 closed

[2022-07-20 18:59] #148 closed

[2022-07-20 18:59] #159 closed

[2022-07-20 19:06] #38 closed

[2022-07-20 19:06] #7 closed

[2022-07-21 20:55] vitaly-zdanevich opened #400 "Add dark theme to CSS"
Through [prefers-color-scheme](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme).

[2022-07-21 21:06] mboyakanni commented on #400
You can add it using this:
[code]

[2022-08-10 08:19] LuisAyuso opened #401 "clangd plugin is no longer available"
https://vimawesome.com/plugin/vim-clangd

github does no longer exist

[2022-10-02 17:45] chrisgrieser opened #402 "API / JSON for vim awesome"
Hi, I wanted to ask whether vim awesome has some sort of API or online JSON containing all the listings at the site?

I am considering building some sort of fuzzy-finder-search to look up vim plugins more quickly 🙂 (Which I'll happily share if I do so, of course)